@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

body {
  min-height: 100dvh;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-golos-text), system-ui, sans-serif;
}
